html,
body {
    height: 100%;
    background-color:#000;
}

html {
    font-size: 16px;
    font-family: 'Titillium Web','Roboto',Helvetica,Arial,sans-serif;
}

.navbar-header .navbar-brand > a > img, .navbar-header .navbar-brand { 
    width:80px;
    height:auto;
    }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav  {
    padding-top:20px;
    margin-left: 50px;
    text-decoration: none;
    color:#444;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;  
   
} 
#last-link {
border-color:none;    
}

.navbar {
    background:#000;
    border-color:#000;
}

.navbar a:hover {
    border-bottom: 2px  #fff;
    
}


#hero {
    margin-top: 50px;
    background:url('../img/Space-Wallpaper-Hd-Mac.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: table;
    width: 100%;
    background-attachment: fixed
}

.col-md-12 .big-logo {  
width:440px;
    height:100%;
    margin-top:80px;
}

.social-media-icon {
width:30px;
    height:100%;
    margin-top:25px;
    margin-right:5px;   
}

.main-headliner {
color:#fff;
padding:2px 2px;
background-color:#5d7fb9;
opacity:.75;
    display:table;
    margin-top:100px;
    font-size:27px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.main-story {
color:#fff; 
display:block;
    width:275px;  
}
/*------------------*/

.more-stories-img {
width:400px;
    height:100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.more-stories-img .orange {
width:107%;    
}

.more-stories-text {
color: #fff;
border-style:solid;
    border-color:#000;
border-right-color: #444;
    border-right-width: thin;
    padding-right: 20px;
    font-size: 16px;
    padding-left: 5px;
    margin-bottom:20px;
}

.more-stories-title {
color:#5d7fb9;  
font-weight: 550;
}

.more-stories-link {
padding:4px 4px; 
background-color:#5d7fb9;
    color:#fff;
    font-size:20px;
    margin-right:15px;
    border-radius: 5px; 
    margin-left:150px;
}




.twitter-box {
margin-top:30px; 

}

.banner {
    color:#5d7fb9;
    font-size: 35px;
    display:table-cell;
    text-align:center;
    padding: 10px 0;
    letter-spacing: 2px;
    vertical-align:middle;
    font-weight: 700; 
}

.picture-link {
margin-top: 50px; 
    margin: 1px 0;
}

.pic-link-1 {
background:url('../img/nasa.jpg');
    width:250px;
    height:100%;
   padding:100px 50px;
    background-repeat: no-repeat;
    margin-right:40px;
    
}
.pic-link-2 {
background:url('../img/new_horizons_launch.jpg');
 padding:100px 50px;
    background-repeat: no-repeat;
    margin-right:40px; 
    width:250px;
    height:100%;
}

.pic-link-3 {
background:url('../img/201501310002hq2.jpg');
 padding:100px 50px;
    background-repeat: no-repeat;
    margin-right:40px; 
    width:250px;
    height:100%;
}

.pic-link-4 {
background:url('../img/20150210_175456_4096_0304.jpg');
 padding:100px 50px;
    background-repeat: no-repeat;
    margin-right:40px; 
    width:250px;
    height:100%;
}


.picture-text {
font-size:30px;
    font-weight:600;
    color:#fff; 
   text-align:center;
    vertical-align: middle;
border-style: none;
    border-bottom: thin solid #fff;
}


#Mars {
    margin-top: 50px;
    background:url('../img/mars.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: table;
    width: 100%;
    background-attachment: fixed;
     box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
   

}

.mars-headliner {
color:#fff;
    padding-top:70px;
font-size:180px;
font-weight:800;
    display:table-cell;
    vertical-align: middle;
}

.mars-title {
    padding-bottom:7px;
margin-top: 90px;  
font-size: 33px;
    font-weight:600;
    border-style: none;
    border-bottom: thin solid #fff;
}

.mars-story {
margin-top: 30x;
border:none; 
font-size: 20px;
margin-bottom:30px;
}

.mars-img {
    margin-top: 30px;
 margin-left:100px;   
}

.mars-link {
padding:6px 6px; 
background-color:#5d7fb9;
    color:#fff;
    font-size:25px;
    margin-right:15px;
    border-radius: 5px; 
    margin-left:150px;    
}

.mars-banner {
padding-left:85px; 
    padding-bottom:40px;
}

.location-title {
font-size: 30px;
color:#5d7fb9;
    margin-bottom:25px;
}

.location-button {
padding:4px 4px; 
background-color:#5d7fb9;
    color:#fff;
    font-size:20px;
    margin-right:15px;
    border-radius: 5px;
    
}

.map {
padding-bottom: 70px;    
}










/*Phone*/
@media (max-width:768px) {
   
    .title-5em {
        font-size: 3.7em;
    }
    
    #hero h1 {
        font-size: 4em;
    }
   
    #value .col-xs-12:nth-child(2) {
        margin-top: 50px;
    }
}


/*Tablet*/
@media (min-width: 769px) and (max-width: 992px) {
    
    .title-5em {
        font-size: 2.4em;
    }
    
    #hero h1 {
        font-size: 4.5em;
    }
    
    #value .col-xs-12:nth-child(2) {
        margin-top: 50px;
    }
}
